html, body {
    height: 100%;
}

body {
    background-color: #000000;
}

.container {
    height: 100%;
}

.padding-top-0 {
    padding-top: 0px !important;
}

header {
    margin-bottom: 35px;
}

.align-center {
    text-align: center;
}

.active {
    color: #fa7900;
}

.text-muted a {
    color: #CCCCCC;
    margin-left: 15px;
}

    .text-muted a:first-child {
        margin-left: 0px;
    }

footer {
    /*  margin-top:65px;*/
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #313436;
}

.img-screenshot {
    margin-top: 25px;
}

.margin-twitter-row {
    margin-top: 75px;
    margin-bottom: 40px;
}

.margin-twitter-bottom {
    margin-bottom: 25px;
}

.margin-twitter-top {
    margin-top: 45px;
}

.row-separator {
    margin-top: 25px;
}

.legal {
    font-size: 10px;
    color: #FFFFFF;
}

.youtube-video {
    border: 0px;
}

.margin-auto {
    margin: auto;
}

#home {
    background-color: #000000;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

    #home h4 {
        color: #bdbdbd;
    }

    #home h3 {
        color: #ffffff;
    }

.clear-both {
    clear: both;
}


.fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #000000;
    padding: 10px;
    color: #efefef;
}

.img-google-play {
    width: 360px;
}

#navbarNav ul {
    margin: auto;
}

    /*All but thead first element:*/
    #navbarNav ul li ~ li {
        margin-left: 25px;
    }

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.news-container
{
    overflow-x:hidden;
    overflow-y:scroll;
    width:95%;
    height:100%;
}

.card
{
    margin-bottom:25px;
}

.icon-linkedin {
    color:#CCCCCC !important;
}

#about .card
{
    margin:auto;
}

.about
{
    margin-top:30px;
    color:#CCCCCC;
    text-align:justify;
    margin-bottom:50px;
}

.text-color
{
color:#CCCCCC;
}

.cards-about
{
    margin-top:25px;
}

.features
{
    width:60%;
}